/*-----common start-------*/
page {
	height: 100%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before,  .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.line {
	border:1rpx solid #f1f1f1;
}
/*-----common end-------*/


/*-----index start-------*/
/*-----index end-------*/

/*-------payPage start---------*/
.payPage {
	height: 100%;
	background-color: #eee;
}

.P_content {
	width: 650rpx;
	background-color: #fff;
	margin: 0 auto;
	padding:0 50rpx 50rpx;
	box-sizing: border-box;
}

.P_way {
	background-color: #fbfbfb;
	line-height: 40px;
	margin: 0 -50rpx;
	padding: 0 50rpx;
}


.P_money {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	height: 60px;
}

.P_sign {
	font-size: 30px;
	margin-right: 10px; 
}

.P_input {
	font-size: 50px;
	height: 50px;
}

/*-------payPage end---------*/

/*-------paySuccess start--------*/
.PS_paySuccess {
	height: 100%;
	background-color: #ddd;
}

.PS_icon {
	margin: 30px auto 0 ;
}

.PS_title {
	padding: 10px;
	text-align: center;
	font-size: 22px;
}

.PS_money{
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 16px;
	margin-bottom: 20px;
}


/*-------paySuccess end--------*/

/*--------signup start ------------*/
.SU_signup {
	position: relative;
	height: 100%;
	background-color:  #f0f0f0;
}

.SU_input {
	position: relative;
    padding: 28rpx 0 28rpx 100rpx;
    background-color: #ffffff;
    font-size: 18px;
}

.SU_name {
	float: left;
    color: #6e6e6e;
    margin:10rpx 22rpx 0 0;
    font-size: 18px;
}

.SU_submit {
	margin: 70rpx 36rpx;
}

.SU_agreement {
	margin-right:36rpx;
    text-align: right;
    font-size: 32rpx;
}

.SU_checkbox {
	display: inline-block
}

.SU_protocol {
	color: #25e0a2;
    display: inline-block
}

.SU_text {
	position: absolute;
    bottom: 20rpx;
    left: 0rpx;
    width: 100%;
    text-align: center;
}

.SU_getCoding {
	position: absolute;
    bottom:28rpx;
    right: 30rpx;
    color:#00d495;
    border: 2rpx solid #00d495;
    border-radius: 8rpx;
    font-size: 30rpx;
    padding: 8rpx 4rpx;
    z-index: 99;
}

.SU_getCoding:active {
	background-color: #f0f0f0;
}

.SU_icon {
	 position: absolute;
    top: 28rpx;
    left: 36rpx;
}

/*--------signup end ------------*/
